* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: grey; */
}

section {
  background-image: url(./images/pingpong.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.dim-layer {
  background-color: rgba(0, 0, 0, 0.295);
  height: 100vh;
}

.header {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  padding: 20px;
  margin-left: 500px;
}

.nav-header {
  display: flex;
  flex: 1;
  justify-content: center;
}

nav {
  display: block;
}

nav ul {
  color: white;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  height: 100px;
  max-width: 1500px;
  width: 100%;
  background-color: transparent;
}
nav ul li {
  opacity: 100%;
}

nav ul li:hover {
  opacity: 70%;
}

nav ul li a {
  flex-grow: 1;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  box-shadow: 3px 3px 5px transparent;
  padding: 20px;
}

.hero-section-image {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
}

.hero-text-container {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 450px;
  text-align: center;
  font-size: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.btn {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 40px;
  color: white;
  background-color: #0078be;
  border-radius: 30px;
}

.fdtn-title {
  text-align: center;
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  padding-top: 50px;
  margin-bottom: 50px;
}

#cardsDiv {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
  padding: 0px 30px 0px 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 50px;
  background-color: white;
  height: 500px;
  width: 40%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
  transform: scale(1.02);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.green:hover{
  background-color: rgba(159, 255, 4, 0.121);
}

.purple:hover{
  background-color: #3c055238;
}

.blue:hover{
  background-color: #0050f02a;
}

.card p {
  width: 65%;
  text-align: center;
  font-size: 18px;
}
.card h2 {
  text-align: center;
  margin-bottom: 10px;
}
.card img {
  margin-bottom: 20px;
  width: 50%;
  height: 80px;
  object-fit: contain;
}

#foundations {
  background-color: rgba(128, 128, 128, 0.2);
}
#footerDiv {
  display: flex;
    background-color: #212121;
    justify-content: center;
    gap: 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer {
  background-color: #212121;
}

#socials {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  gap: 1000px;
}

#socials a{
  position: relative;
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
}

#socials a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #0078be;
  transition: height 0.3s ease;
}
#socials a:hover::after{
  height: 2px;
}

#discoverBdd {
  display: flex;
  flex-direction: column;
}
#footerDiv div h2{
  margin-bottom: 30px;  
}
#discoverBdd a {
  position: relative;
  text-decoration: none;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}

#discoverBdd a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #0078be;
  transition: height 0.3s ease; 
}

#discoverBdd a:hover::after {
  height: 2px;
}

.white{
  color: white;
}
